
.DS_Store
Kotiln/bacic_concept/core/.idea/gradle.xml
Write/.obsidian/app.json
Write/.obsidian/appearance.json
Write/.obsidian/core-plugins.json
Write/.obsidian/hotkeys.json
Write/.obsidian/workspace
Kotiln/bacic_concept/core/.idea/gradle.xml
Kotiln/bacic_concept/core/.idea/misc.xml
Write/.obsidian/workspace.json
