{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">


        <!-- ============================  FILTER TOP  ================================= -->
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2"> Your are here: </div> <!-- col.// -->
                    <nav class="col-md-8">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Category name</a></li>
                            <li class="breadcrumb-item"><a href="#">Sub category</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Items</li>
                        </ol>
                    </nav> <!-- col.// -->
                </div> <!-- row.// -->
                <hr>
                <div class="row">
                    <div class="col-md-2">Filter by</div> <!-- col.// -->
                    <div class="col-md-10">
                        <ul class="list-inline">
                            <li class="list-inline-item mr-3 dropdown"><a href="#" class="dropdown-toggle"
                                    data-toggle="dropdown"> Supplier type </a>
                                <div class="dropdown-menu p-3" style="max-width:400px;">
                                    <label class="form-check">
                                        <input type="radio" name="myfilter" class="form-check-input"> Good supplier
                                    </label>
                                    <label class="form-check">
                                        <input type="radio" name="myfilter" class="form-check-input"> Best supplier
                                    </label>
                                    <label class="form-check">
                                        <input type="radio" name="myfilter" class="form-check-input"> New supplier
                                    </label>
                                </div> <!-- dropdown-menu.// -->
                            </li>
                            <li class="list-inline-item mr-3 dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Country </a>
                                <div class="dropdown-menu p-3">
                                    <label class="form-check"> <input type="checkbox" class="form-check-input"> China
                                    </label>
                                    <label class="form-check"> <input type="checkbox" class="form-check-input"> Japan
                                    </label>
                                    <label class="form-check"> <input type="checkbox" class="form-check-input">
                                        Uzbekistan </label>
                                    <label class="form-check"> <input type="checkbox" class="form-check-input"> Russia
                                    </label>
                                </div> <!-- dropdown-menu.// -->
                            </li>
                            <li class="list-inline-item mr-3 dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Feature</a>
                                <div class="dropdown-menu">
                                    <a href="" class="dropdown-item">Anti backterial</a>
                                    <a href="" class="dropdown-item">With buttons</a>
                                    <a href="" class="dropdown-item">Extra safety</a>
                                </div>
                            </li>
                            <li class="list-inline-item mr-3"><a href="#">Color</a></li>
                            <li class="list-inline-item mr-3"><a href="#">Size</a></li>
                            <li class="list-inline-item mr-3">
                                <div class="form-inline">
                                    <label class="mr-2">Price</label>
                                    <input class="form-control form-control-sm" placeholder="Min" type="number">
                                    <span class="px-2"> - </span>
                                    <input class="form-control form-control-sm" placeholder="Max" type="number">
                                    <button type="submit" class="btn btn-sm btn-light ml-2">Ok</button>
                                </div>
                            </li>
                            <li class="list-inline-item mr-3">
                                <label class="custom-control mt-1 custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <div class="custom-control-label">Ready to ship
                                    </div>
                                </label>
                            </li>
                        </ul>
                    </div> <!-- col.// -->
                </div> <!-- row.// -->
            </div> <!-- card-body .// -->
        </div> <!-- card.// -->
        <!-- ============================ FILTER TOP END.// ================================= -->

        <header class="mb-3">
            <div class="form-inline">
                <strong class="mr-md-auto">{{product_count}} Items found </strong>
            </div>
        </header><!-- sect-heading -->

        <div class="row">
            {% for product in products %}
            <div class="col-md-3">
                <figure class="card card-product-grid">
                    <div class="img-wrap">
                        <a href="{{ product.get_url }}">
                            <span class="badge badge-danger"> {{product.product_status}} </span>
                            <img src="{{ product.images.url }}">
                        </a>
                    </div> <!-- img-wrap.// -->
                    <figcaption class="info-wrap">
                        <a href="#" class="title mb-2">{{ brand.brand_name }}</a>
                        <a href="#" class="title h5 mb-2">{{ product.product_name }}</a>
                        <div class="price-wrap">
                            {% if product.sale != 0 %}
                            <del><small class="text-muted">{{ product.price | intcomma }}원</small></del>
                            <span class="price">{{ product.get_sale_price | intcomma }}</span>
                            {% else %}
                            <span class="price">{{ product.price | intcomma }}</span>
                            {% endif %}
                        </div> <!-- price-wrap.// -->
                        <hr>

                        <p class="mb-3">
                            <span class="tag"> 좋아요 {{ product.get_likes_count }}개</span>
                            <span class="tag"> 리뷰 {{ product.get_review_count }}개 </span>
                        </p>

                        <a href="{{ product.get_url }}" class="btn btn-outline-primary"> <i class="fa fa-envelope"></i> 상세 정보 보기
                        </a>

                    </figcaption>
                </figure>
            </div> <!-- col.// -->
            {% endfor %}
        </div> <!-- row end.// -->
    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


{% endblock %}