* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}

.app_header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 20px;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}

.app_headerImage {
  height: 30px;
  object-fit: contain;
}

.app_signup {
  display: flex;
  flex-direction: column;
}

.app_posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
