{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">

        <div class="row">
            {% include 'includes/dashboard_sidebar.html' %}
            <main class="col-md-9">

                <div class="card">
                    <div class="card-body">
                        <form class="row">
                            <div class="col-md-9">
                                <div class="form-row">
                                    <div class="col form-group">
                                        <label>Name</label>
                                        <input type="text" class="form-control" value="Vosidiy">
                                    </div> <!-- form-group end.// -->
                                    <div class="col form-group">
                                        <label>Email</label>
                                        <input type="email" class="form-control" value="vosidiy@gmail.com">
                                    </div> <!-- form-group end.// -->
                                </div> <!-- form-row.// -->
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Zip</label>
                                        <input type="text" class="form-control" value="123009">
                                    </div> <!-- form-group end.// -->
                                    <div class="form-group col-md-6">
                                        <label>Phone</label>
                                        <input type="text" class="form-control" value="+123456789">
                                    </div> <!-- form-group end.// -->
                                </div> <!-- form-row.// -->

                                <button class="btn btn-primary">Save</button>
                                <button class="btn btn-light">Change password</button>

                                <br><br><br><br><br><br>

                            </div> <!-- col.// -->
                            <div class="col-md">
                                <img src="images/avatars/avatar1.jpg" class="img-md rounded-circle border">
                            </div> <!-- col.// -->
                        </form>
                    </div> <!-- card-body.// -->
                </div> <!-- card .// -->



            </main> <!-- col.// -->
        </div>

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


{% endblock %}