{% autoescape off %}

안녕하세요! {{ user.username }}님

아래의 링크를 눌러 비밀번호를 재설정 해주시기 바랍니다.
http://{{ domain }}{% url 'resetpassword_validate' uidb64=uid token=token %}

{{ user.username }}님이 요청한게 아니라면 이메일을 무시해주시기 바랍니다.

--- 개인정보 관리 규정 ---

대통령은 법률안의 일부에 대하여 또는 법률안을 수정하여 재의를 요구할 수 없다. 감사원의 조직·직무범위·감사위원의 자격·감사대상공무원의 범위 기타 필요한 사항은 법률로 정한다. 누구든지 체포 또는 구속을 당한 때에는
적부의 심사를 법원에 청구할 권리를 가진다. 모든 국민은 자기의 행위가 아닌 친족의 행위로 인하여 불이익한 처우를 받지 아니한다.

국회의원은 국회에서 직무상 행한 발언과 표결에 관하여 국회외에서 책임을 지지 아니한다. 대한민국의 주권은 국민에게 있고, 모든 권력은 국민으로부터 나온다. 헌법개정은 국회재적의원 과반수 또는 대통령의 발의로
제안된다. 국무총리는 대통령을 보좌하며, 행정에 관하여 대통령의 명을 받아 행정각부를 통할한다.

국군의 조직과 편성은 법률로 정한다. 대한민국은 통일을 지향하며, 자유민주적 기본질서에 입각한 평화적 통일 정책을 수립하고 이를 추진한다. 의원을 제명하려면 국회재적의원 3분의 2 이상의 찬성이 있어야 한다. 국가는
모성의 보호를 위하여 노력하여야 한다. 모든 국민은 인간으로서의 존엄과 가치를 가지며, 행복을 추구할 권리를 가진다. 국가는 개인이 가지는 불가침의 기본적 인권을 확인하고 이를 보장할 의무를 진다.

헌법재판소 재판관은 탄핵 또는 금고 이상의 형의 선고에 의하지 아니하고는 파면되지 아니한다. 재판의 심리와 판결은 공개한다. 다만, 심리는 국가의 안전보장 또는 안녕질서를 방해하거나 선량한 풍속을 해할 염려가 있을
때에는 법원의 결정으로 공개하지 아니할 수 있다. 대통령은 국민의 보통·평등·직접·비밀선거에 의하여 선출한다.

대통령은 제3항과 제4항의 사유를 지체없이 공포하여야 한다. 국회는 의장 1인과 부의장 2인을 선출한다. 대통령은 조국의 평화적 통일을 위한 성실한 의무를 진다. 국회의원이 회기전에 체포 또는 구금된 때에는
현행범인이 아닌 한 국회의 요구가 있으면 회기중 석방된다. 비상계엄이 선포된 때에는 법률이 정하는 바에 의하여 영장제도, 언론·출판·집회·결사의 자유, 정부나 법원의 권한에 관하여 특별한 조치를 할 수 있다.

모든 국민은 종교의 자유를 가진다. 법률은 특별한 규정이 없는 한 공포한 날로부터 20일을 경과함으로써 효력을 발생한다. 국회의 정기회는 법률이 정하는 바에 의하여 매년 1회 집회되며, 국회의 임시회는 대통령 또는
국회재적의원 4분의 1 이상의 요구에 의하여 집회된다. 행정각부의 설치·조직과 직무범위는 법률로 정한다.
{% endautoescape %}