{% autoescape off %}

안녕하세요! {{ user.username }}님

아래의 링크를 눌러 회원가입을 완료해주시기 바랍니다.
http://{{ domain }}{% url 'activate' uidb64=uid token=token %}

{{ user.username }}님이 요청한게 아니라면 이메일을 무시해주시기 바랍니다.

--- 개인정보 관리 규정 ---

혼인과 가족생활은 개인의 존엄과 양성의 평등을 기초로 성립되고 유지되어야 하며, 국가는 이를 보장한다. 국가는 건전한 소비행위를 계도하고 생산품의 품질향상을 촉구하기 위한 소비자보호운동을 법률이 정하는 바에 의하여
보장한다. 국회가 재적의원 과반수의 찬성으로 계엄의 해제를 요구한 때에는 대통령은 이를 해제하여야 한다.

제안된 헌법개정안은 대통령이 20일 이상의 기간 이를 공고하여야 한다. 대법원장과 대법관이 아닌 법관은 대법관회의의 동의를 얻어 대법원장이 임명한다. 공무원의 신분과 정치적 중립성은 법률이 정하는 바에 의하여
보장된다. 체포·구속·압수 또는 수색을 할 때에는 적법한 절차에 따라 검사의 신청에 의하여 법관이 발부한 영장을 제시하여야 한다. 다만, 현행범인인 경우와 장기 3년 이상의 형에 해당하는 죄를 범하고 도피 또는
증거인멸의 염려가 있을 때에는 사후에 영장을 청구할 수 있다.

연소자의 근로는 특별한 보호를 받는다. 사면·감형 및 복권에 관한 사항은 법률로 정한다. 감사위원은 원장의 제청으로 대통령이 임명하고, 그 임기는 4년으로 하며, 1차에 한하여 중임할 수 있다. 국회는 상호원조 또는
안전보장에 관한 조약, 중요한 국제조직에 관한 조약, 우호통상항해조약, 주권의 제약에 관한 조약, 강화조약, 국가나 국민에게 중대한 재정적 부담을 지우는 조약 또는 입법사항에 관한 조약의 체결·비준에 대한 동의권을
가진다.

계엄을 선포한 때에는 대통령은 지체없이 국회에 통고하여야 한다. 대통령의 임기는 5년으로 하며, 중임할 수 없다. 대통령은 내란 또는 외환의 죄를 범한 경우를 제외하고는 재직중 형사상의 소추를 받지 아니한다. 모든
국민은 자기의 행위가 아닌 친족의 행위로 인하여 불이익한 처우를 받지 아니한다.

대법원장과 대법관이 아닌 법관의 임기는 10년으로 하며, 법률이 정하는 바에 의하여 연임할 수 있다. 국가는 모성의 보호를 위하여 노력하여야 한다. 헌법재판소는 법관의 자격을 가진 9인의 재판관으로 구성하며,
재판관은 대통령이 임명한다. 대통령은 국무회의의 의장이 되고, 국무총리는 부의장이 된다.
{% endautoescape %}